/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Generics */
body {
  font-family: sans-serif;
}

/* Utils */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex.row-reverse {
  flex-direction: row-reverse;
}

.debug .border {
  border: 2px dashed black;
}

.bg-white {
  background-color: white;
}

.bg-gray {
  background-color: lightgray;
}

header {
  background-color: #255ee9;
  font-weight: bold;
  color: #ffffff;
}
.f-bold {
  font-weight: bold;
}

button {
  cursor: pointer;
  text-decoration: none;
  border: none;
  padding: 12px;
  border-radius: 20px;
}

p {
  font-size: 24px;
  font-weight: normal;
}

h1 {
  font-size: 50px;
}

h2 {
  padding: 20px 0;
  font-size: 35px;
}

/* # Navbar */

.navbar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
}


.navbar a {
  text-decoration: none;
  color: #ffffff;
}

.navbar > * {
  padding: 10px;
  flex-basis: 20%;
}

.navbar-menu {
  flex-grow: 1;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.navbar-actions, button {
  text-align: right;

}

.sign-in {
  background-color: #ffff;
}

/* # Jumbotron */

.jumbotron {
  padding: 50px;
  height: 600px;
  background-image: url(../img/jumbo.png);
  background-size: cover;
  display: flex;
  justify-content: center;
}

.jumbotron .content {
  width: 50%;
  /* height: 100%; */
  /* margin: 0 auto; */
  background-color: transparent;
}

.main-title {
  text-align: center;
  padding: 50px;
}
.p-header {
  text-align: center;
  line-height: 35px;
  margin-bottom: 15px;
  
}

.flex-label {
  display: flex;
  justify-content: center;
  
}

.flex-label > button {
  font-size: 18px;
  padding: 17.5px 30px;
  border-radius: 30px;
  margin: 15px;
  align-items: center;
}

.download {
  background-color: #fff;
}

.redirect {
  background-color: #23272a;
  color: #ffff;
}


/* # Main & sections */
section {
  padding: 50px;
  height: 600px;
}

section > .container {
  height: 100%;
}

.flex > .small-col {
  flex-basis: 40%;
  padding: 35px;
}

.flex > .large-col {
  flex-basis: 60%;
}


.flex > .groups {
  background-image: url(../img/item1.svg);
  background-size: contain;
}

.flex > .calls {
  background-image: url(../img/item2.svg);
  background-size: contain;
}

.flex > .fandom {
  background-image: url(../img/item3.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.title-groups {
  color: #23272a;
  margin-bottom: 25px;
}

.main-paragraphs {
  color: #23272a;
  line-height: 30px;
}

.big {
  height: 1200px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.p-tech {
  padding: 30px 80px;
}

.chilling-img {
  padding-bottom: 30px;
}

.download-mac {
  background-color: #8ea1e1;
  color: #ffff;
  margin: 25px 0;
}

/* # Footer */

.footer-title {
  color: #7289da;
}

footer {
  padding: 50px;
  background-color: #23272a;
  /* color: white; */
}

.footer-top {
  height: 450px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #8ea1e1;

  display: flex;
}

.footer-top .footer-left {
  flex-basis: 30%;
}

.footer-top .footer-right {
  flex-basis: 70%;
  padding: 25px;
  /* background-color: #20b2aa; */
}

.footer-nav {
  height: 100%;
  display: flex;
  /* background-color: #fff; */
}

.footer-nav > div {
  flex-basis: 25%;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* background-color: aquamarine; */
}

.footer-bottom > * {
  padding: 5px 10px;
}

ul {
  list-style-type: none;
  color: white;
  line-height: 35px;
}

.register {
  background-color: #8ea1e1;
  color: #ffffff;
  padding: 10px;
}